<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" media="screen" />
		<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
		<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen and (prefers-color-scheme: light)" />
		<link rel="stylesheet" href="dark.css" media="screen and (prefers-color-scheme: dark)" />
		<link rel="stylesheet" href="light.css" media="screen and (prefers-color-scheme: light)" />
		<script data-goatcounter="https://pipwtf.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
		body {
			max-width: 60em;
		}
		</style>
	</head>
  <body>
		{{ content }}
  </body>
</html>
